<mat-sidenav-container>
  <div class="theme-selectors">
    <div>
      <mat-slide-toggle [color]="'primary'" [(ngModel)]="themeManagerService.isDark">
        Your application theme is dark
      </mat-slide-toggle>
    </div>
    <div>
      <mat-slide-toggle [color]="'primary'" [(ngModel)]="tableThemeIsDark">
        Table theme is dark
      </mat-slide-toggle>
    </div>
  </div>

  <div>チェックボックスなし</div>
  <div class="table-sample"
      [class.light-theme]="!themeManagerService.isDark"
      [class.dark-theme]="themeManagerService.isDark"
      [class.light-table]="!tableThemeIsDark"
      [class.dark-table]="tableThemeIsDark">
    <mat-card>
      <mst-selectable-table
        [dataProvider]="dataProvider"
        [length]="100"
        [pageSize]="10"
        [headers]="dataProvider.headerDef">
      </mst-selectable-table>
    </mat-card>
  </div>

  <div>チェックボックスあり</div>
  <div class="table-sample"
      [class.light-theme]="!themeManagerService.isDark"
      [class.dark-theme]="themeManagerService.isDark"
      [class.light-table]="!tableThemeIsDark"
      [class.dark-table]="tableThemeIsDark">
    <mat-card>
      <mst-selectable-table
        [selectable]="true"
        [dataProvider]="dataProvider"
        [length]="100"
        [pageSize]="10"
        [headers]="dataProvider.headerDef">
      </mst-selectable-table>
    </mat-card>
  </div>
</mat-sidenav-container>
