@import '~@angular/material/theming';

@mixin _common($theme, $table-theme) {
  $divider: mat-color(map-get($theme, foreground), divider);
  $border: mat-color(map-get($table-theme, foreground), divider);

  .mst-table-container {
    border: 1px solid $divider;
    background-color: mat-color(map-get($theme, background), hover);
    color: mat-color(map-get($table-theme, foreground), base);
  }

  // 罫線
  cdk-cell {
    border-top: 1px solid $border;
  }
  cdk-header-cell, cdk-cell {
    border-right: 1px solid $border;
  }

  // 背景色
  cdk-header-cell {
    background-color: mat-color(map-get($table-theme, background), app-bar);
  }
  cdk-table {
    background-color: mat-color(map-get($table-theme, background), background);
  }

  // マウスホバー
  cdk-row.mst-clickable:hover cdk-cell {
    background-color: mat-color(map-get($table-theme, background), hover);
  }

  // チェックボックス
  mat-checkbox {
    @include mat-checkbox-theme($table-theme);
  }
}

@mixin selectable-table-theme-light($theme) {
  $table-theme: mat-light-theme(
    map-get($theme, primary),
    map-get($theme, accent),
    map-get($theme, warn)
  );
  @include _common($theme, $table-theme);
}

@mixin selectable-table-theme-dark($theme) {
  $table-theme: mat-dark-theme(
    map-get($theme, primary),
    map-get($theme, accent),
    map-get($theme, warn)
  );
  @include _common($theme, $table-theme);
}
