// 基本的なテーブル表示用displayプロパティ
cdk-table {
  display: table;
  cdk-header-row, cdk-row {
    display: table-row;
    cdk-header-cell, cdk-cell {
      display: table-cell;
    }
  }
}

:host {
  display: block;
  padding: 8px;
}

mat-paginator {
  margin-bottom: -10px;
}

.mst-table-container {
  max-width: 100%;
  overflow-x: auto;
}

cdk-header-cell, cdk-cell {
  padding: 2px 5px;
  white-space: nowrap;
}

cdk-header-cell {
  text-align: center;
}

cdk-cell {
  text-align: right;
}

.mst-checkbox-cell {
  $hpad: 8px;
  padding-left: $hpad;
  padding-right: $hpad;
  position: relative;
}

.mst-checkbox-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

cdk-row.mst-clickable {
  cursor: pointer;
}
