// 基本的なテーブル表示用displayプロパティ
cdk-table {
  display: table;
  cdk-header-row, cdk-row {
    display: table-row;
    cdk-header-cell, cdk-cell {
      display: table-cell;
    }
  }
}

:host {
  display: block;
  padding: 8px;
}

mat-paginator {
  margin-bottom: -10px;
}

.mst-table-container {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;

  .mst-loading-overlay {
    display: flex;  // mat-spinnerを上下中央に配置する
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    mat-spinner {
      margin: auto;
    }
  }
}

.mst-paginator-container {
  position: relative;

  // 親要素を覆い隠す
  .mst-paginator-disabler {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

cdk-header-cell, cdk-cell {
  padding: 2px 5px;
  white-space: nowrap;
}

cdk-header-cell {
  text-align: center;
}

cdk-cell {
  text-align: right;
}

.mst-checkbox-cell {
  $hpad: 8px;
  padding-left: $hpad;
  padding-right: $hpad;
  position: relative;
}

.mst-checkbox-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

cdk-row.mst-clickable {
  cursor: pointer;
}
