<div class="mst-table-container">
  <cdk-table [dataSource]="dataSource" *ngIf="headerKeys">

    <ng-container cdkColumnDef="_checkbox">
      <cdk-header-cell class="mst-checkbox-cell" *cdkHeaderCellDef>
        <mat-checkbox
          [color]="'primary'"
          [checked]="selectionState === 2"
          [indeterminate]="selectionState === 1">  <!-- SelectionState.PARTIAL = 1, ALL = 2 -->
        </mat-checkbox>
        <div class="mst-checkbox-overlay" (click)="onClickHeaderCheckbox()"></div>
      </cdk-header-cell>
      <cdk-cell class="mst-checkbox-cell" *cdkCellDef="let row">
        <mat-checkbox
          [color]="'primary'"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
        <div class="mst-checkbox-overlay" (click)="onClickCheckbox(row)"></div>
      </cdk-cell>
    </ng-container>

    <ng-container *ngFor="let key of headerKeys" cdkColumnDef="{{key}}">
      <cdk-header-cell *cdkHeaderCellDef>{{headers[key]}}</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row" (click)="onClickRow(row)">{{row.data[key]}}</cdk-cell>
    </ng-container>

    <cdk-header-row *cdkHeaderRowDef="headerKeysAndCheckbox"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: headerKeysAndCheckbox;"
             [class.mst-clickable]="clickable">
    </cdk-row>

  </cdk-table>
</div>

<mat-paginator
  [length]="length"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 20, 50]"
  (page)="onPageEvent($event)">
</mat-paginator>
